// Topografia
$fuente_principal:'Montserrat', sans-serif;
//Colores
$verde:rgb(76, 184, 179);
$rosa: #f53756;
$amarillo: #fef46d;
$morado: #752f97;
$negro: #000000;
$blanco: #ffffff;
$rojo: #970a0a;

//Tamaños de media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;